cymol/server/api/gateway/node_modules/
cymol/server/api/gateway/dist
cymol/server/api/auth/auth/__pycache__
cymol/server/api/auth/*/__pycache__
cymol/server/database/
db.sqlite3
.env
__pycache__
*.autosave
*~